---
import BaseHead from "../components/Head/BaseHead.astro";
import Nav from "../components/Nav.astro";
import HomeHeader from "../components/HomeHeader.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer/Footer.astro";
import ReactPlayer from "react-player/soundcloud";

interface MarkdownFrontmatter {
  date: number;
}

const title = "Camille Principiano";
const description =
  "Journaliste radio, presse écrite et web. Basée à Nantes. Formée au CELSA, à l'EMI, à l'INA, à Longueur d'Ondes et à Phonurgia Nova. Retrouvez ci-dessous mes reportages, chroniques, interviews et documentaires sonores.";
const seoDescription = "Camille Principiano Blog";

const allPosts = await Astro.glob<MarkdownFrontmatter>("./posts/*.md");
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<html lang="fr">
  <head>
    <BaseHead title={title} description={seoDescription} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />

    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3">
        <div class="md:flex md:row md:justify-between">
          <div class="">
            <HomeHeader title={title} description={description} />
            <img
              class="object-cover h-90 w-auto"
              src="/images/camille-resized.jpg"
            />
            <ReactPlayer
              client:load
              width="auto"
              height="512px"
              url="https://soundcloud.com/principiano-camille-1/sets?visual=false&show_user=false&show_artwork=false"
            />
          </div>
          <div class="p-6"></div>
          <section class="" data-test="articles-section">
            {
              sortedPosts.map(
                (p) =>
                  p.frontmatter.draft !== true && (
                    <div class="col-span-1">
                      <Card post={p} />
                    </div>
                  )
              )
            }
          </section>
        </div>
      </article>
    </main>

    <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
      <a href="/posts" class="mr-8" data-test="see-all-link">
        Tout les articles<span class="squiggle">&rarr;</span>
      </a>
    </section>

    <Footer />
  </body>
</html>
