---
export interface Props {
  title: string;
  date: string;
  hero: string;
  heroDescription: string;
  youtube: string;
  lead: string;
}

const { title, date, hero, heroDescription, youtube, lead } = Astro.props;
---

<article class="max-w-5xl mx-auto px-3">
  <header class="mx-auto max-w-3xl content">
    <h1>{title}</h1>
  </header>

  {
    lead && (
      <p class="font-bold max-w-3xl mx-auto content pb-6 lg:pb-12">{lead}</p>
    )
  }

  <!-- Image -->
  {
    hero && (
      <img
        class="rounded-xl mx-auto w-9/12"
        loading="lazy"
        src={hero}
        alt={title}
      />
    )
  }
  {
    heroDescription && (
      <p class="mx-auto w-9/12 text-slate-500 font-semibold">{heroDescription}</p>
    )
  }

  <!-- YouTube Video -->
  {
    youtube && (
      <div class="embed-responsive aspect-ratio-16/9 mt-6 lg:mt-12">
        <iframe
          width="700"
          height="500"
          class="embed-responsive-item"
          src={`https://www.youtube.com/embed/${youtube}`}
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope;"
          allowfullscreen
        />
      </div>
    )
  }

  <!-- Content -->
  <section class="max-w-3xl mx-auto py-6 lg:py-12 content text-justify">
    <slot />
  </section>
</article>
